.footer{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    bottom: 0;
    background: hsla(0,0%,100%,.6);
    padding: 12px 24px;
}

.footer h6{
    font-weight: 100;
    font-size: 12px;
}